body {
    box-sizing: border-box;
}

svg {
    /*    padding: 1em;*/
    background-color: rgb(255, 255, 255);
}

.vis {
    margin-top: 20px;
}

/*
#vis-wrap {
    margin-bottom: 100px;
}
*/

#vis-sub {
 height: 180px;   
}

svg circle:hover {
    opacity: .3;
}

svg g {
    fill: #ACACAC;
}

svg g text.label,
svg g text.ylabel {
    fill: #2A2A2A;
}

svg.multiple {
 margin-right: 15px;
}

svg#animatedLine {
 background-color: #fff;   
}

.axis path,
.axis line {
    fill: none;
    stroke: #D3D3D3;
    stroke-width: 1px;
}

.label {
    font-weight: 400;
}

.line {
    stroke: #FF9900;
    fill: none;
    stroke-opacity: 25%;
    stroke-width: 1px;
}

.nonClick {
 opacity: .5;   
}

.note {
 font-style: italic;   
}

.clicked {
    fill: #FF0000
}

.unfocused {
    stroke-opacity: 25%;
}

.focused {
    stroke-width: 2px;
    stroke-opacity: 100%;
}

.MDG {
    stroke: #2A2A2A;
    fill: none;
    stroke-opacity: 100%;
    stroke-width: 1px;
}

g.countries path.hoverable:hover {
 opacity: .6;   
}

.axis text,
.aside {
    font-family: sans-serif;
    font-size: 11px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    margin-top: 1em;
    font-weight: 700;
    color: #0099FF;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 1.25em;
    font-weight: 700;
    font-size: 1em;
}

p {
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 1.25em;
    text-align: justify;
}

#sources {
    font-size: 12px;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-style: italic;
}

#intro {
    text-align: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    height: 30vh;
    padding: 50px;
}

#slideText {
            font-family: 'Merriweather', serif;
            font-size: 16px;
            line-height: 23px;
            color: #767678;
    max-width: 425px;
}

.header {
    margin-left: 16px;
}

#intro .header {
 margin: 0;   
}

a {
    color: #0099FF;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 153);
}

.sans {
    font-family: sans-serif;
}

.orange {
    color: #FF9900;
}

.blue {
    color: #0099FF;
}

.red {
    color: red;
    fill: red;
}

.myTooltip, .mapTooltip {
    position: absolute;
    z-index: 10;
}

.myTooltip p, .mapTooltip {
    background-color: rgba(255, 255, 255, .9);
    padding: .5em 1em;
    font-size: 12px;
    line-height: 17px;
    color: black;
}

.mapTooltip svg {
  background-color: rgba(255, 255, 255, 0);
    width: 200px;
    height: 60px;
}

.tooltipHeader {
    font-weight: 700;
    font-size: 12.5px;
}

.selected {
    border-color: #0099FF;
    background-color: #FFFFFF;
}

.hide {
    display: none;
}